<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/ngDialog.css" rel="stylesheet" />
</head>
<body data-ng-cloak>
    @RenderBody()
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Movies</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/ngDialog.min.js"></script>
    <script src="~/Scripts/require.min.js" data-main="Scripts/main"></script>

</body>
</html>
